<!Doctype html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hi, <%= @user.name %></h1>
		<p>
			Thanks for registering to our awsome site!
		</p>
		<p>
			To edit profile, follow this link : <%= edit_user_url(@user) %>.
		</p>
	</body>
</html>