/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap/theme';

<<<<<<< HEAD
#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    margin-bottom: 10px;
    text-align: center;
    p {
      margin: 0;
      margin-top: 10px;
      height: 40px;
      overflow: hidden;
    }
  }
}
=======

>>>>>>> 939426a3587b672c8e89e7858ebec8455e2930ef
	a{
	text-decoration: none;
}

body{
	background-image: url(1.png);
	font-size: small;
}

*{
	margin: 0px;
	padding: 0px;
}

#website {
	width: 1040px;
	margin: auto;
	background-color: white;
	/*height: 800px;*/
}
alert-notice {
  @extend .alert-success;
}
 
.alert-alert {
  @extend .alert-warning;
  }
#top-left{
	float: left;
	ul{
		list-style-type: none;
		padding: 10px 0px 0px 19px;
		li{
			float: left;
			margin-right: 8px;
		}
	}
}

#top-right{
	float: right;
	ul{
		list-style-type: none;
		padding: 10px 19px 0px 0px;
		color: #999999;
		li{
			float: left;
			margin-left: 8px;
			a{
				color: #999999;
			}
		}
	}
}

#top-right ul li a:hover{
	color: red;
}
#banner {
width: 1020px;
height: 100px;
background: #9c9;
padding: 10px;
margin-bottom: 10px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: #282;
text-align: center;
	/*img {
		padding-top: 10px;
		color: black;
		width: 70px;
		height: 70px;
		float: left;
	} */
} 

#notice { 
color: #000 !important; 
border: 2px solid red; 
padding: 1em; 
margin-bottom: 2em; 
background-color: #f0f0f0; 
font: bold smaller sans-serif; 
} 

#columns { 
background: #141; 

#main { 
margin-left: 17em; 
padding: 1em; 
background: white; 
} 
#side { 
float: left; 
padding: 1em 2em; 
width: 13em; 
background: #141; 

ul { 
padding: 0; 

li { 
list-style: none; 

a { 
color: #bfb; 
font-size: small; 
} 
} 
} 
} 
} 