<h1>Listing products</h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<% if product.photos.any? %>
	<ul class="row" id="photos-list">
    	<li class="col-xs-3">
      	<%= link_to image_tag(product.photos.first.image.thumb('180x180#').url, class: 'img-thumbnail'),
        	product.photos.first.image.url, target: '_blank' %>
    	</li>
	</ul>
<% else %>
	<p> No Image </p>
<% end %>
</td>
<td class="list_description">
<dl>
<dt><%= link_to product.title, product %></dt>
</dl>
</td>
</tr>
<% end %>
</table>
<br/>
<%= link_to 'New product', new_product_path %>
